.vermelho{
    position: relative;
    background: red;
    width: 100%;
    height: 100px;
}

.bottom{
    position: absolute;
    bottom: 0px;
}

.imagem{
    display: block;
    margin-top: 1px;
    margin-left: 33%;
}
img{
    width: 195px;
}


