.horizontal{
    position: absolute;
    background: rgb(35, 35, 185);
    width: 100%;
    margin-top: 20%;
    height: 100px;
}

.vertical{
    position: absolute;
    display: block;
    background: rgb(35, 35, 185);
    width: 100px;
    margin-left: 25%;
    height: 100%;
}
