.azul-horizontal{
    position: relative;
    background: blue;
    width: 100%;
    height: calc(400px / 9);
}
.branco-horizontal{
    position: relative;
    background: white;
    width: 100%;
    height: calc(400px / 9);
}

.quadrado{
    position: absolute;
    width: 200px;
    height: calc((400px / 9) * 5);
    background: blue;
    z-index: 1;
}

.branco-vertical{
    position: absolute;
    margin-left: 75px;
    background: white;
    width: 50px;
    height: 100%;
}
.branco-horizontal-menor{
    position: absolute;
    margin-top: 89px;
    background: white;
    width: 100%;
    height: calc(400px / 9);
}



