/* Box */

.box {
    padding: 15px;
    border-radius: 8px;
    background: #efefef;
    text-align: center;
    margin-top: 50px;
}

.box div {
    width: 120px;
    height: 120px;
    padding: 30px 0;
    border-radius: 50%;
    background: #efefef;
    margin: 0 auto;
    margin-top: 50px;
    border: 5px solid #fff;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}



@media (max-width:520px){
    .box{
        margin-top: 140px;
    }
} 


