/* Reset */

nav ul,
body {
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: black;
}

a{
    color: #007aff;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
