/* Buttons */

.button{
    display: inline-block;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    line-height: 16px;
    color: #222;
    background: #ddd ;
}

.button:hover{
    text-decoration: none;
    transition: background 0.2 ease-in-out 0s;

}

.button-big {
    padding: 25px 40px;
    font-size: 24px;
    line-height: 24px;
}

.button-blue{
    color: #fff;
    background: #007aff;
}

.button-blue:hover{
    background: #49a0fd;
}

.button-green{
    color: #fff;
    background: #39b54a;
}

.button-green:hover{
    background: #81f590;
}

.button-outline {
    border: 1px solid #fff;
    color: #fff;
    background: none;
}