/* Form */

.form {
    margin-top: 70px;
}

.form h1{
    font-size: 30px;
    line-height: 40px;
    border-bottom: 1px solid;
}

.inputText{
    width: 100%;
    margin: 5px;
}

.form textarea {
    height: 200px;
}

.submit {
    float: right;
}

.mapa {
    border: none;
    margin-top: 50px;
    height: 100vh;
    width: 100vw;
    margin-bottom: -40px;
}

@media (min-width:640px){
    .mapa{
        width: 50vw;
    }
}

@media (max-width:520px){
    .form{
        margin-top: 140px;
    }
}
