body {
    font-family: 'Public Sans', sans-serif;
}
.pokedex {
    position: relative;
    background-color: red;
    margin-top: 5%;
    margin-left: 30%;
    width: 500px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.lado1{
    position: absolute;
    width: 50%;
    height: 450px;
    border-right: 1px solid;
}

.info-pokemon {
    position: absolute;
    margin-top: 50px;
    margin-left: 20px;
    width: 210px;
    height: 300px;
    background-color: white;
    border-radius: 15px;
}

.img-pokemon{
    position: absolute;
    margin-top: 4px;
    margin-left: 4px;
    border: 1px solid;
    height: 140px;
    width: 200px;
    border-radius: 15px;
}

#sorteador {
    background-color: rgb(156, 6, 6);
}

#fundo-agua{
    background-image: url("../img/agua.jpeg");
}

#fundo-fogo{
    background-image: url("../img/fogo.jpeg");
}

#fundo-gelo{
    background-image: url("../img/gelo.jpg");
}

#fundo-paisagem{
    background-image: url("../img/paisagem.jpeg");
}

.direcional{
    margin-left: 25px;
    position: absolute;
    bottom: 20px;
}

.lado1 button{
    height: 50px;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(111, 219, 143);
}

.dados-pokemon{
    position: absolute;
    width: 200px;
    height: 130px;
    margin-top: 4px;
    margin-left: 15px;
    bottom: 5px;
    font-size: 9px;
}

#estatisticas {
    margin-top: 2px;
    position: absolute;
    width: 40%;
}

#tipos{
    margin-top: 2px;
    position: absolute;
    right: 10px;
    width: 40%;
}

span {
    font-weight: bold;
}

ul{
    margin-top: 2px;
    list-style-type: none;
    padding: 0px;
    padding-left: 3px;
}
.lado2{
    position: absolute;
    right: 0px;
    width: 50%;
    height: 450px;
    border-right: 1px solid;
}

.display{
    position: absolute;
    margin-left: 25px;
    margin-top: 50px;
    height: 100px;
    width: 200px;
    background-color: white;
    border-radius: 15px;
}

.infos {
    width: 100%;
}

.botoes{
    position: absolute;
    margin-left: 48px;
    margin-top: 170px;
    width: 150px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    background-color: transparent;
}

button {
    box-shadow: 5px 5px 5px black ;
}

.numeros{
    border-radius: 8px;
    height: 30px;
    width: 30px;
    margin: 5px;
    background-color: rgb(111, 219, 143);
}

#enviar{
    border-radius: 8px;
    width: 60px;
    height: 30px;
    margin: 5px;
}

#imagem {
    position: absolute;
    margin-left: 50px;
    margin-top: 30px;
}

input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-color: yellowgreen;
    font-size: 40px;
    text-align: center;
    border: none;
    color: transparent;
    letter-spacing: 5px;
    text-shadow: 0 0 0 black;
}

input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield;
}



