/* Banner */

.main-banner{
    display: table;
    height: 100vh;
    width: 100%;
    position: relative;
    background: url("../img/opera.jpeg") no-repeat center / cover;
    color: #fff;
}

.main-banner article {
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    position: relative;
    z-index: 2;
}

.main-banner h1 {
    margin: 0 0 20px;
    font-size: 50px;
    line-height: 60px;
}

.main-banner p {
    max-width: 800px;
    margin: 0 auto 40px;
    font-size: 22px;
    line-height: 30px;
}