/* Box */

.box {
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    margin-top: 50px;
    border: 1px solid;
}

.box div {
    width: 100%;
    height: 170px;
    border-radius: 6px;
    margin: 0 auto;
    border: 5px solid #fff;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.box img{
    display: block;
    width: 100%;
    height: 100%;
}
.box li{
    font-size: 20px;
    margin: 15px;
}

.box .button{
    margin-top: 25px;
}




@media (max-width:520px){
    .box{
        margin-top: 140px;
    }
} 


