

.img-sobre{
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img-sobre img{
    width: 100%;
    height: 200px;
    border-radius: 8px;
}

.comida{
    background: rgba(199, 199, 199, 0.4);
    border-radius: 10px;
    margin-bottom: 10px;
}

.lazer{
    margin-top: 70px;
}




