.tela-itens{
    box-sizing: border-box;
    width: 50%;
    border-radius: 15px;
    float: left;
    border: solid  rgb(240, 120, 9);
}

.tela-item{
    box-sizing: border-box;
    width: 50%;
    border-radius: 15px;
    margin: 20px auto;
    border: solid  rgb(240, 120, 9);
}

.buscar-agencias {
    height: 10%;
    text-align: left;
}

.buscar-agencias input{
    position: relative;
    height: 20px;
    margin-left: 5px;
    border-radius: 5px;
    margin-top: 8px;
}

.buscar-agencias div{
    margin-left: 15px;
}

button{
    border-radius: 8px;
    color: rgb(240, 120, 9);
    border: solid  rgb(240, 120, 9);
    background-color: white;
    margin-bottom: 5px;
}
