.buscar-clientes {
    height: 10%;
    text-align: left;
}

.buscar-clientes input{
    position: relative;
    height: 20px;
    margin-left: 5px;
    border-radius: 5px;
    margin-top: 8px;
}

.buscar-clientes div{
    margin-left: 15px;
}