body {
    color: rgb(240, 120, 9);
}

.digitais{
    margin-left: 50px;
}


.lista-principal {
    box-sizing: border-box;
    margin-top: 10px;
    padding: 5px;
    width: 15%;
    height: 90vh;
    border-radius: 10px;
    border: solid rgb(240, 120, 9);
    float: left;
}

.img-lista{
    margin-bottom: 50px;
    margin-top: 20px;
    width: 80%;
}

.borda {
    border-bottom: solid 2px rgb(240, 120, 9);
    margin-bottom: 5px;
    margin-top: 5px;
}

.link-lista {
    text-decoration: none;
    color: rgb(240, 120, 9);
}

.tela{
    box-sizing: border-box;
    float: left;
    margin-top: 10px;
    width: 85%;
    height: 90vh;
    border: solid rgb(240, 120, 9);
    border-radius: 10px;
}