
.img-login {
    width: 30%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.login {
    margin: 0 auto;
    padding: 30px 5px 5px 5px;
    box-sizing: border-box;
    width: 30%;
    height: 40vh;
    background-color: rgb(240, 120, 9);
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
}

.login input {
    width: 80%;
    margin: 2%;
}

.login button {
    margin-top: 2%;
    background-color: white;
    width: 30%;
    height: 20%;
    border: solid rgb(240, 120, 9);
    border-radius: 10px;
}