.flash {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 0;
  opacity: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fade-in{
  animation: fadein 1s linear forwards;
}

.fade-out{
  animation: fadeout 1s linear forwards;
}

@keyframes fadein {from {opacity: 0;} to {opacity: 1; visibility:visible;}}

@keyframes fadeout {from {opacity: 1;} to {opacity: 0; visibility:hidden;}}


.verde{
  background: green;
}

.vermelho{
  background-color: red;
}

.invisivel {
  display: none;
}

.validacao{
  background-color: red;
}

.btn-vermelho {
  background-color: red;
}.link-avaliacoes {
  text-decoration: none;
  color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
