.preto{
    position: relative;
    background: black;
    width: 100%;
    height: calc(400px / 3);
}
.amarelo{
    position: relative;
    background: yellow;
    width: 100%;
    height: calc(400px / 3);
}

.vermelho{
    position: relative;
    background: red;
    width: 100%;
    height: calc(400px / 3);
}

